{{ define "main" }}
    <p>This is a simple service that will return a <b>identicon</b> of an ethereum address. You can use this to power avatars or whatever in your webapp</p>
    <h2>Use</h2>
    <p>To use the service you just need to use the url in an image like so:</p>
    <pre>&lt;img src="https://effigy.im/a/{ethereumAddress}.[png|svg]"&gt;</pre>


    <h3>Example</h3>
    <pre>&lt;img src="https://effigy.im/a/0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045.png"&gt;</pre>
    <p>That will render PNG: <br />
      <img src="/a/0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045.png" width="100" />
    </p>
    <p>or</p>
    <pre>&lt;img src="https://effigy.im/a/0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045.svg"&gt;</pre>
    <p>That will render SVG: <br />
      <img src="/a/0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045.svg" width="100" />
    </p>
    
    <hr>
    
    <p>Inspired and influenced by:</p>
<ul>
    <li><a target="_blank" href="https://github.com/MyCryptoHQ/ethereum-blockies-base64">MyCryptoHQ/ethereum-blockies-base64</a></li>
    <li><a target="_blank" href="https://github.com/download13/blockies">download13/blockies</a></li>
    <li><a target="_blank" href="https://github.com/download13/blockies/pull/12">PR by @qwtel</a></li>
    </ul>    
    
    <p>Feel free to help make this better by submitting a pull request or sending me a note. </p>
    <p><ul>
      <li><a target="_blank" href="https://github.com/harperreed/effigy.im">effigy.im on github</a></li>
      <li><a target="_blank" href="mailto:harper@modest.com">Send me a note: harper@modest.com</a></li>
    </ul>
  </p>

{{ end }}
